<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./icons/css/font-awesome.css">
    <script src="./js/bootstrap.js"></script>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-info shadow-lg menup">
          <!--<a class="navbar-brand" href="#">Aztek</a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reportes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"><i class="icon-ticket"></i> Boletaje</a>
                  <a class="dropdown-item" href="#"><i class="icon-group"></i> Pensionados</a>
                  <a class="dropdown-item" href="#"><i class="icon-calendar"></i> Diario</a>
                  <a class="dropdown-item" href="#"><i class="icon-calendar-empty"></i> Cierre de Mes</a>
                  <a class="dropdown-item" href="#"><i class="icon-tag"></i> Stickers</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="icon-warning-sign"></i> Fraude</a>
                  <a class="dropdown-item" href="#"><i class="icon-remove-circle"></i> Accesos Denegados</a>
                  <a class="dropdown-item" href="#"><i class="icon-desktop"></i> Eventos TPV</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="icon-print"></i> Reimpresion Corte Cajero</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  Mantenimiento
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"><i class="icon-edit"></i> Edicion Tarifas</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="icon-user"></i> Perfiles</a>
                  <a class="dropdown-item" href="#"><i class="icon-group"></i> Usuarios</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="icon-ticket"></i> Boletos</a>
                  <a class="dropdown-item" href="#"><i class="icon-credit-card"></i> Alta Tarjetas</a>
                  <a class="dropdown-item" href="#"><i class="icon-repeat"></i> Recaulcular Corte</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Stikers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"><i class="icon-chevron-up"></i> Alta Locatarios</a>
                  <a class="dropdown-item" href="#"><i class="icon-save"></i> Guarda Stikers</a>
                  <a class="dropdown-item" href="#"><i class="icon-hdd"></i> Almacen Stickers</a>
                  <a class="dropdown-item" href="#"><i class="icon-check"></i> Permisos Stickers</a>
                </div>
              </li>
              <li class="nav-item">
                <div class="flex">
                <a class="nav-link" href="#"><i class="icon-signout"></i> Salir</a>
                </div>
              </li>
            </ul>
            <div>
              <a href="#"><img src="img/LogoSF.png" class="logomenu" alt="AdminParking"></a>
            </div>
          </div>
        </nav>
      </header>
</body>
</html>